//global variables
$font-size-base : 14px;
$border-radius-base : 3px;
$gray-base :#2b2626;







//body related variables
$body-bg: #F7F7F7 !default;


//navbar related variables
$navbar-default-bg : #EDEDED;
$navbar-border-radius : 0px;


//global setting for panels
//$panel-heading-margin : 0px !default;


//panel primary 
$panel-primary-text:          #2b2626 !default;
$panel-primary-border:        #cecece !default;
$panel-primary-heading-bg:    #F7F7F7 !default;
